.mt-3.alert.alert-success {
    word-break: break-word;
}
.mb-3 {
    display: flex;
    width: 100%;
}
form.temp{
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #bfbaba;
    margin-top: 30px;
}
label {
    min-width: 100px;
    font-weight: bold;
}
input {
    flex: 1;
    outline: none;
    border-radius: 4px;
    border: 1px solid #bfbaba;
}
.add_new,.edit{
    margin: 0px auto;
}
.logout{
    float: right;
}
button.btn.btn-primary {
    font-weight: 600;
}
p{
    padding-top: 10px;
}
p:hover .signup{
    text-decoration: underline;
}
.projecttitle{
    background: -webkit-linear-gradient(rgb(151, 135, 135), rgb(10, 180, 138));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.table td, .table th {
    padding: 0.5rem !important;
    vertical-align: none !important;
}